.App {
  text-align: center;
}

.todo-list {
  max-width: 500px;
  margin: 0 auto;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aquamarine;
  margin-bottom: 12px;
  padding: 4px 8px;
  border-radius: 4px;
}